.l2 .Img IMG {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; WIDTH: 180px; BORDER-BOTTOM: #cccccc 1px solid
}
TEXTAREA {
	FONT: 12px/1.5em Verdana,"Lucida Grande",Arial,Helvetica,sans-serif
}
.listcol LI {
	FLOAT: left; WIDTH: 100%
}
.list2col LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 3px; WIDTH: 150px; PADDING-TOP: 3px
}
.t_input {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 3px; BORDER-LEFT: #ddd 1px solid; LINE-HEIGHT: 16px; PADDING-TOP: 3px; BORDER-BOTTOM: #ddd 1px solid
}
SELECT {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 3px; BORDER-LEFT: #ddd 1px solid; LINE-HEIGHT: 16px; PADDING-TOP: 3px; BORDER-BOTTOM: #ddd 1px solid
}
SELECT {
	FONT: 12px/1.2em Verdana,"Lucida Grande",Arial,Helvetica,sans-serif
}
BUTTON {
	FONT: 12px/1.2em Verdana,"Lucida Grande",Arial,Helvetica,sans-serif
}
.button {
	BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 2px; WIDTH: 57px; CURSOR: pointer; LINE-HEIGHT: 16px; PADDING-TOP: 2px; HEIGHT: 21px; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 1px
}
.submit {
	BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 2px; WIDTH: 57px; CURSOR: pointer; LINE-HEIGHT: 16px; PADDING-TOP: 2px; HEIGHT: 21px; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 1px
}
TEXTAREA {
	BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; OVERFLOW: auto; BORDER-LEFT: #ddd 1px solid; BORDER-BOTTOM: #ddd 1px solid
}
.float_del {
	DISPLAY: block; RIGHT: 5px; BACKGROUND: url(/template/default/image/delete.gif) no-repeat 0px 0px; OVERFLOW: hidden; WIDTH: 13px; TEXT-INDENT: -999em; POSITION: absolute; TOP: 0.5em; HEIGHT: 14px
}
.float_edit {
	DISPLAY: block; RIGHT: 5px; BACKGROUND: url(/template/default/image/delete.gif) no-repeat 0px 0px; OVERFLOW: hidden; WIDTH: 13px; TEXT-INDENT: -999em; POSITION: absolute; TOP: 0.5em; HEIGHT: 14px
}
.popupmenu_popup {
	BORDER-RIGHT: #d4d8d8 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: #d4d8d8 1px solid; PADDING-LEFT: 1em; BACKGROUND: #ffffff; PADDING-BOTTOM: 1em; OVERFLOW: hidden; BORDER-LEFT: #d4d8d8 1px solid; LINE-HEIGHT: 1.4em; PADDING-TOP: 1em; BORDER-BOTTOM: #d4d8d8 1px solid; TEXT-ALIGN: left
}
.popupmenu_popup H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1.17em; PADDING-BOTTOM: 10px; PADDING-TOP: 0px
}
.popupmenu_popup TD {
	PADDING-BOTTOM: 0.4em
}
.popupmenu_popup .float_del {
	BACKGROUND-IMAGE: url(/image/close1.gif)
}
.popupmenu_centerbox {
	BORDER-RIGHT: #d4d8d8 3px solid; BORDER-TOP: #d4d8d8 3px solid; BACKGROUND: #ffffff; BORDER-LEFT: #d4d8d8 3px solid; BORDER-BOTTOM: #d4d8d8 3px solid; TEXT-ALIGN: left; min-width: 250px; max-width: 550px
}
.popupmenu_centerbox H1 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; CURSOR: move; LINE-HEIGHT: 26px; PADDING-TOP: 0px
}
.popupmenu_centerbox .popupmenu_inner {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; COLOR: #444; PADDING-TOP: 10px
}
.popupmenu_centerbox .popupmenu_inner TD {
	LINE-HEIGHT: 200%
}
.popupmenu_centerbox .popupmenu_inner .t_input {
	MARGIN: 5px 0px
}
.popupmenu_centerbox .popupmenu_inner TEXTAREA {
	MARGIN: 5px 0px
}
.popupmenu_centerbox .float_del {
	BACKGROUND-IMAGE: url(/image/close1.gif)
}
.popupmenu_centerbox .box {
	WIDTH: 400px
}
.popupmenu_layer {
	PADDING-RIGHT: 6px; PADDING-LEFT: 1px; BACKGROUND: url(/template/default/image/ilayer.gif) no-repeat; PADDING-BOTTOM: 6px; WIDTH: 220px; PADDING-TOP: 3px; HEIGHT: 80px; TEXT-ALIGN: center
}
.popupmenu_layer P {
	COLOR: #333; LINE-HEIGHT: 20px
}
.popupmenu_layer P.btn_line {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; PADDING-BOTTOM: 2px; COLOR: #f30; PADDING-TOP: 2px
}
.popupmenu_layer STRONG {
	FONT-WEIGHT: normal; FONT-SIZE: 18px; COLOR: #fff
}
.facebox {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 8px; Z-INDEX: 100000; BACKGROUND: #ffffff 0px 0px; PADDING-BOTTOM: 8px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 250px; PADDING-TOP: 8px; BORDER-BOTTOM: #cccccc 1px solid
}
.facebox UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
.facebox UL LI {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 24px; HEIGHT: 25px
}
.comments {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 20px; PADDING-TOP: 20px
}
.trace H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 0px
}
.trace .avatar_list LI {
	FLOAT: left; MARGIN: 0px 10px 0px 0px; WIDTH: 61px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.trace .avatar_list P {
	TEXT-ALIGN: center
}
.comments H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 0px; BORDER-BOTTOM: #ebe6c9 1px solid
}
.comments_list .avatar48 {
	DISPLAY: inline; MARGIN: 0px 0px 0px -63px; POSITION: absolute
}
.comments_list LI {
	PADDING-RIGHT: 10px; PADDING-LEFT: 63px; FONT-SIZE: 12px; PADDING-BOTTOM: 10px; OVERFLOW: hidden; LINE-HEIGHT: 200%; PADDING-TOP: 10px
}
.comments_list .title {
	MARGIN: 0px 0px 10px
}
.comments_list .detail {
	COLOR: #444
}
.comments_list .quote {
	BORDER-RIGHT: #ebe6c9 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #ebe6c9 1px solid; PADDING-LEFT: 10px; FONT-SIZE: 12px; BACKGROUND: #fcf9e6 0px 0px; PADDING-BOTTOM: 10px; BORDER-LEFT: #ebe6c9 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #ebe6c9 1px solid
}
.comments_list .quote .q {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.comments_list .magicbar {
	FLOAT: right; MARGIN: 0px 5px 0px 0px
}
.avatar48 IMG {
	WIDTH: 48px; HEIGHT: 48px
}
.list4 LI IMG {
	WIDTH: 48px; HEIGHT: 48px
}
.r_option {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FLOAT: right
}
.pipe {
	PADDING-RIGHT: 0.4em; PADDING-LEFT: 0.4em; PADDING-BOTTOM: 0px; COLOR: #dddddd; PADDING-TOP: 0px
}
.gray {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #999999
}
.cont6 SPAN {
	FLOAT: none
}
CAPTION {
	TEXT-ALIGN: left
}
TH {
	TEXT-ALIGN: left
}
CAPTION {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
CAPTION P {
	FONT-WEIGHT: normal
}
.formtable {
	WIDTH: 100%
}
.formtable CAPTION {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 10px; COLOR: #666; PADDING-TOP: 10px
}
.formtable CAPTION H2 {
	DISPLAY: block; FONT-SIZE: 14px; PADDING-BOTTOM: 8px; COLOR: #333; BORDER-BOTTOM: #ccc 1px solid
}
.formtable CAPTION P {
	MARGIN-TOP: 8px
}
.formtable TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.formtable TH {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.formtable TH {
	PADDING-RIGHT: 1em; TEXT-ALIGN: right
}
.w180 {
	BORDER-RIGHT: #dcdcdc 1px solid; PADDING-RIGHT: 17px; BORDER-TOP: #dcdcdc 1px solid; MARGIN-TOP: 5px; DISPLAY: inline; PADDING-LEFT: 3px; BACKGROUND: url(/image/xx.jpg) #ffffff no-repeat right 8px; FLOAT: left; PADDING-BOTTOM: 3px; MARGIN-LEFT: 5px; BORDER-LEFT: #dcdcdc 1px solid; WIDTH: auto; CURSOR: pointer; COLOR: #333; PADDING-TOP: 3px; BORDER-BOTTOM: #dcdcdc 1px solid; HEIGHT: 14px
}
.scl {
	BORDER-RIGHT: #dddddd 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #dddddd 1px solid; PADDING-LEFT: 3px; BACKGROUND: #fff; MARGIN-BOTTOM: 3px; PADDING-BOTTOM: 3px; OVERFLOW: hidden; BORDER-LEFT: #dddddd 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #dddddd 1px solid
}
.scl UL LI {
	FLOAT: left; MARGIN-LEFT: -1px; WIDTH: 179px
}
.float1 {
	WIDTH: 658px; POSITION: absolute
}
.float2 {
	LEFT: 185px; WIDTH: 658px; TOP: 0px
}
.float2 .c {
	BORDER-RIGHT: #dcdcdc 1px solid; BORDER-TOP: #dcdcdc 1px solid; BACKGROUND: #fff; BORDER-LEFT: #dcdcdc 1px solid; WIDTH: 658px; BORDER-BOTTOM: #dcdcdc 1px solid
}
.float2 .c .cc {
	PADDING-RIGHT: 0px; PADDING-LEFT: 33px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.float2 .c .cc INPUT {
	VERTICAL-ALIGN: 1px; CURSOR: pointer
}
.float2 .c1 {
	BORDER-TOP: #dcdcdc 1px solid; MARGIN-TOP: 8px; WIDTH: 658px; PADDING-TOP: 8px; HEIGHT: 26px; TEXT-ALIGN: center
}
.float2 .c1 INPUT {
	WIDTH: 57px; CURSOR: pointer; LINE-HEIGHT: 16px; HEIGHT: 21px; TEXT-ALIGN: center
}
.w25 {
	FLOAT: left; WIDTH: 25%; COLOR: #000; PADDING-TOP: 8px
}
.w25 .inp3 {
	BORDER-RIGHT: #d6d6d6 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #d6d6d6 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; BORDER-LEFT: #d6d6d6 1px solid; WIDTH: 50px; COLOR: #808080; LINE-HEIGHT: 20px; PADDING-TOP: 3px; BORDER-BOTTOM: #d6d6d6 1px solid; HEIGHT: 20px
}
.w25 .ttt {
	FONT-WEIGHT: bold; COLOR: #039
}
.w25 UL {
	PADDING-TOP: 6px
}
.w25 LI {
	LINE-HEIGHT: 24px
}
.imgxx {
	RIGHT: 10px; POSITION: absolute; TOP: 10px
}
.top8 {
	CLEAR: both; PADDING-TOP: 8px
}
.cpl {
	FLOAT: left; WIDTH: 39px; LINE-HEIGHT: 23px
}
.copyright {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 500px
}
.copyright UL LI {
	FLOAT: left; WIDTH: 114px; LINE-HEIGHT: 23px
}
.copyright UL LI INPUT {
	MARGIN-BOTTOM: 6px; VERTICAL-ALIGN: middle
}
.magic_list {
	OVERFLOW: hidden; WIDTH: 740px
}
.magic_list LI {
	FLOAT: left; MARGIN: 0px 50px 20px 0px; WIDTH: 320px
}
.magic_img {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: url(/template/defualt/image/magic_image_bg.gif) 0px 0px; FLOAT: left; PADDING-BOTTOM: 10px; MARGIN: 0px 14px 0px 0px; OVERFLOW: hidden; WIDTH: 76px; PADDING-TOP: 10px; HEIGHT: 76px
}
.magic_info {
	FLOAT: left; WIDTH: 200px
}
.magic_info H3 {
	FONT-SIZE: 12px; MARGIN: 0px 0px 5px
}
.magic_info P {
	MARGIN: 0px 0px 5px; COLOR: #333; LINE-HEIGHT: 24px
}
.magic_info P.gray {
	OVERFLOW: hidden; COLOR: #999; LINE-HEIGHT: 20px; HEIGHT: 40px
}
.magic_info .m_button {
	DISPLAY: block; BACKGROUND: url(/template/defualt/image/m_button.gif); FLOAT: right; OVERFLOW: hidden; WIDTH: 62px; COLOR: #fff; LINE-HEIGHT: 27px; HEIGHT: 26px; TEXT-ALIGN: center
}
.magic_info .m_off {
	BACKGROUND-POSITION: 0px 100%
}
.magic_info SPAN {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; VERTICAL-ALIGN: middle; COLOR: #f90
}
.magic_info .r_option {
	MARGIN: 0px 10px
}
.toolly {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; OVERFLOW: hidden; PADDING-TOP: 10px
}
.toolly .magic_img {
	BACKGROUND-POSITION: 0px 100%
}
.toolly P {
	MARGIN: 0px 0px 10px; COLOR: #333; LINE-HEIGHT: 26px
}
.toolly .magic_info P {
	MARGIN: 0px 0px 2px; COLOR: #333
}
.toolly .magic_info P.gray {
	OVERFLOW: hidden; COLOR: #999; LINE-HEIGHT: 20px; HEIGHT: auto
}
.toolly .magic_info {
	WIDTH: 290px
}
.quote {
	BORDER-RIGHT: #ebe6c9 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #ebe6c9 1px solid; PADDING-LEFT: 10px; FONT-SIZE: 12px; BACKGROUND: #fcf9e6 0px 0px; PADDING-BOTTOM: 10px; BORDER-LEFT: #ebe6c9 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #ebe6c9 1px solid
}
.quote .q {
	BACKGROUND: 0px 0px
}
.menu LI.dropmenu {
	PADDING-RIGHT: 15px; PADDING-LEFT: 10px; BACKGROUND: url(image/triangle.gif) no-repeat right center; PADDING-BOTTOM: 10px; MARGIN: 0px 10px 0px 0px; OVERFLOW: hidden; PADDING-TOP: 10px; HEIGHT: 20px
}
.dropmenu_drop {
	BORDER-RIGHT: #ebe6c9 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #ebe6c9 1px solid; PADDING-LEFT: 10px; Z-INDEX: 200; BACKGROUND: #fff; PADDING-BOTTOM: 10px; MARGIN: -1px 0px 0px; BORDER-LEFT: #ebe6c9 1px solid; WIDTH: 150px; PADDING-TOP: 0px; BORDER-BOTTOM: #ebe6c9 1px solid
}
.dropmenu_drop LI {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BORDER-BOTTOM: #eee 1px solid
}
.dropmenu_drop LI A {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #2c629e
}
.dropmenu_drop .active {
	FONT-WEIGHT: bold
}
.copy {
	BORDER-RIGHT: #bcbcbc 1px dashed; PADDING-RIGHT: 4px; BORDER-TOP: #bcbcbc 1px dashed; PADDING-LEFT: 4px; FONT-SIZE: 12px; PADDING-BOTTOM: 4px; MARGIN: 10px; BORDER-LEFT: #bcbcbc 1px dashed; COLOR: #888888; LINE-HEIGHT: 20px; PADDING-TOP: 4px; BORDER-BOTTOM: #bcbcbc 1px dashed; LETTER-SPACING: 1px
}
.text OL LI {
	PADDING-RIGHT: 1px; LIST-STYLE: decimal none outside; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 1px; PADDING-TOP: 1px
}
.text OL {
	PADDING-RIGHT: 0px; LIST-STYLE: decimal none outside; PADDING-LEFT: 2em; PADDING-BOTTOM: 0px; LINE-HEIGHT: 5px; PADDING-TOP: 0px
}
.text UL {
	PADDING-RIGHT: 0px; LIST-STYLE: disc none outside; PADDING-LEFT: 2em; PADDING-BOTTOM: 0px; LINE-HEIGHT: 200%; PADDING-TOP: 0px
}
.text UL LI {
	PADDING-RIGHT: 0px; LIST-STYLE: disc none outside; PADDING-LEFT: 2em; PADDING-BOTTOM: 0px; LINE-HEIGHT: 200%; PADDING-TOP: 0px
}
.detail IMG {
	max-width: 650px
}
.detail P {
	LINE-HEIGHT: 1.5
}
.detail SPAN {
	LINE-HEIGHT: 1.5
}
.detail LI {
	LINE-HEIGHT: 1.5
}
.detail DIV {
	LINE-HEIGHT: 1.5
}
.detail TD {
	LINE-HEIGHT: 1.5
}
.detail FONT {
	LINE-HEIGHT: 1.5
}
.img1 IMG {
	max-width: 712px
}
.list7 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 6px; MARGIN: 0px auto; WIDTH: 195px; PADDING-TOP: 7px; BORDER-BOTTOM: #d4d8d8 1px solid
}
.all {
	PADDING-RIGHT: 0px; PADDING-LEFT: 22px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; COLOR: #63401b; PADDING-TOP: 14px
}
.all1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 22px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; COLOR: #63401b; PADDING-TOP: 9px
}
.all2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 26px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; COLOR: #63401b; PADDING-TOP: 9px
}
.all3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 26px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; COLOR: #63401b; PADDING-TOP: 9px
}
.all4 {
	PADDING-LEFT: 16px; HEIGHT: 24px
}
.alla {
	PADDING-BOTTOM: 12px
}
.list20 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 27px; PADDING-BOTTOM: 12px; PADDING-TOP: 14px
}
.list20 LI {
	PADDING-LEFT: 8px; FONT-SIZE: 14px; BACKGROUND: url(/image/list2.png) no-repeat 0px 12px; COLOR: #63401b; LINE-HEIGHT: 30px
}
.list20 LI B {
	FONT-WEIGHT: normal; COLOR: #727272
}
.list20 LI B A {
	COLOR: #727272
}
.list21 {
	MARGIN: 0px auto; WIDTH: 705px
}
.list21 LI {
	PADDING-RIGHT: 10px; PADDING-LEFT: 14px; BACKGROUND: url(/image/line.png) repeat-x 50% bottom; PADDING-BOTTOM: 0px; COLOR: #000; PADDING-TOP: 14px; HEIGHT: 26px
}
.list21 SPAN {
	FLOAT: right; COLOR: #999
}
.alll {
	PADDING-RIGHT: 0px; PADDING-LEFT: 22px; PADDING-BOTTOM: 0px; COLOR: #63401b; PADDING-TOP: 10px
}
.alll1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 22px; PADDING-BOTTOM: 0px; COLOR: #63401b; PADDING-TOP: 6px
}
.alll2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 24px; PADDING-BOTTOM: 0px; COLOR: #63401b; PADDING-TOP: 6px
}
.alll3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 24px; PADDING-BOTTOM: 0px; COLOR: #63401b; PADDING-TOP: 6px
}
.alll4 {
	PADDING-LEFT: 16px; HEIGHT: 18px
}
.allla {
	PADDING-BOTTOM: 6px
}
.tm {
	PADDING-LEFT: 47px; FONT-SIZE: 14px; RIGHT: 20px; BACKGROUND: url(../image/tm_bg.png) no-repeat; FILTER: progid:DXImageTransform.Microsoft.Alpha(opacity=80); WIDTH: 337px; COLOR: #fff; LINE-HEIGHT: 34px; POSITION: absolute; TOP: 10px; HEIGHT: 34px; moz-opacity: .8; opacity: 0.8
}
.tm A {
	COLOR: #fff
}
.tm A:hover {
	COLOR: #fff
}
.bor_42 {
	BORDER-RIGHT: #dcdcdc 1px solid; BORDER-TOP: #dcdcdc 1px solid; PADDING-LEFT: 18px; BACKGROUND: #fff; BORDER-LEFT: #dcdcdc 1px solid; WIDTH: 474px; BORDER-BOTTOM: #dcdcdc 1px solid; POSITION: relative; HEIGHT: auto
}
.w437_42 {
	WIDTH: 437px
}
.w437_42 .t {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1px; FONT-WEIGHT: bold; BACKGROUND: url(../image/4x1.png) repeat-x 50% bottom; PADDING-BOTTOM: 0px; COLOR: #039; PADDING-TOP: 8px; HEIGHT: 22px
}
.w437_42 LI {
	PADDING-RIGHT: 6px; PADDING-LEFT: 35px; BACKGROUND: url(../image/4x1.png) repeat-x 50% bottom; PADDING-BOTTOM: 0px; COLOR: #000; PADDING-TOP: 16px; HEIGHT: 20px
}
.w437_42 LI A {
	COLOR: #000
}
.w437_42 LI SPAN {
	FLOAT: right
}
.btn_42 {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; PADDING-TOP: 2px; TEXT-ALIGN: center
}
.cen_42 {
	PADDING-TOP: 10px; TEXT-ALIGN: center
}
A.close_42 {
	DISPLAY: block; RIGHT: 11px; BACKGROUND: url(../image/close.png) no-repeat; WIDTH: 8px; POSITION: absolute; TOP: 9px; HEIGHT: 8px
}
.close {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 14px; BACKGROUND: url(/image/arrow_down.gif) no-repeat 0px 1px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px 10px 10px 0px; OVERFLOW: hidden; CURSOR: pointer; PADDING-TOP: 0px; HEIGHT: 14px
}
.open {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 14px; BACKGROUND: url(/image/arrow_up.gif) no-repeat 0px 1px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px 10px 10px 0px; OVERFLOW: hidden; CURSOR: pointer; PADDING-TOP: 0px; HEIGHT: 14px
}
